<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Random Music Generator</h1>
    <p class="lead">Discover some groups/artists through different styles and periods.</p>
  </div>
</div>

