<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 fixed-bottom">© 2020 Copyright:
    <a href="https://github.com/MoretS">MoretS</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
